<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1>부분 포함</h1>
<!-- 미리 생성한 fragment를 선택해서 가져오면 된다.-->
<!--  th:insert :: fragment   or th:replace :: fragment-->
<h2>부분 포함 insert</h2>
<!-- insert는 div 안에 footer을 생성해서 넣음 -->
<div th:insert="~{template/fragment/footer :: copy}"></div>
<h2>부분 포함 replace</h2>
<!-- replace는 div를 footer로 교체함 -->
<div th:replace="~{template/fragment/footer :: copy}"></div>
<h2>부분 포함 단순 표현식</h2>
<div th:replace="template/fragment/footer :: copy"></div>
<h1>파라미터 사용</h1>
<div th:replace="~{template/fragment/footer :: copyParam ('데이터1', '데이터2')}"></div>
</body>
</html>